# Mapbox public token (used by features/map for tiles + geocoding)
# Public tokens (pk.*) are safe to expose in the frontend.
VITE_MAPBOX_TOKEN=pk.eyJ1IjoidGF3ZmlrMTIzIiwiYSI6ImNtcDMwdDFwZjA2bjkydHNjM2Fuc2cwZTUifQ.Yv7v5-SaVClG-h_iMAguAA
